@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <!-- give count of all access logs and last visit -->
    <p>There have been @ViewData["AccessLogCount"] page visits. The last visit was @ViewData["LastVisit"]</p>
    <p>The last visiting Computer was @ViewData["LastComputerName"]</p>
    <!-- display semantic version of the app -->
    <p>Version: @ViewData["Version"]</p>
    <!-- display the environment -->
    <p>Environment: @ViewData["Environment"]</p>
    <!-- display weather forecast -->
    <p>Weather forecast: @ViewData["WeatherForecast"]</p>
</div>
